QWidget {
    font-family: JetBrainsMonoNL Nerd Font;
}

QPushButton#sign_inButton {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
}

QPushButton#sign_inButton:hover {
    background-color: #EEC95D;
}

QPushButton#sign_inButton:pressed {
    background-color: #F0B68E;
}

QLabel#label_2 {
    font-weight: bold;
    border: 2px outset #a010f0;
    border-left: 2px outset #a919c5;
    border-radius: 18px;
    padding-right: 1px;
    padding-bottom: 1px;
}

QLineEdit#lineEdit {
    border-radius: 5px;
    padding: 1px 10px;
    font-size: 11px;
}

#calendarWidget QWidget {
    alternate-background-color: #5F9DEC;
}

#qt_calendar_navigationbar {
    /*background-color: #777EF0;*/
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(119, 126, 240, 255), stop:1 rgba(54, 189, 116, 255));
    border: 2px solid #5F9DEC;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#qt_calendar_prevmonth,
#qt_calendar_nextmonth {
    border: none;
    qproperty-icon: none;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    border-radius: 15px;
    background-color: transparent;
    padding: 7px;
}

#qt_calendar_prevmonth {
    margin-right: 10px;
    image: url(:/images/resources/images/left.png);
}

#qt_calendar_nextmonth {
    margin-left: 10px;
    image: url(:/images/resources/images/right.png);
}

#qt_calendar_prevmonth:hover,
#qt_calendar_nextmonth:hover {
    background-color: #EEC95D;
}

#qt_calendar_prevmonth:pressed,
#qt_calendar_nextmonth:pressed {
    background-color: #F0B68E;
}

#qt_calendar_yearbutton {
    width: 80px;
    border-radius: 10px;
    font-size: 13px;
    padding: 0 10px;
}

#qt_calendar_monthbutton {
    width: 110px;
    border-radius: 10px;
    padding: 0px 2px;
}

#qt_calendar_yearbutton:hover,
#qt_calendar_monthbutton:hover {
    background-color: #EEC95D;
}

#qt_calendar_yearbutton:pressed,
#qt_calendar_monthbutton:pressed {
    background-color: #F0B68E;
}

#qt_calendar_yearedit {
    min-width: 95px;
    background: transparent;
    font-size: 14px;
}

#calendarWidget QToolButton QMenu::item:selected:enabled {
    background-color: #EEC95D;
}

#calendarWidget QToolButton::menu-indicator {
    subcontrol-position: right center;
    margin-top: 10px;
    width: 20px;
}

#qt_calendar_calendarview {
    border: 2px solid #5F9DEC;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#qt_calendar_calendarview::item:hover {
    background-color: #EEC95D;
}

#qt_calendar_calendarview::item:pressed {
    background-color: #F0B68E;
}

QPushButton#submitButton {
    background-color: #458FEE;
    color: white;
    padding: 3px 7px;
    border: none;
    border-radius: 4px;
    font-size: 9px;
}

QPushButton#submitButton:hover {
    background-color: #EEC95D;
}

QPushButton#submitButton:pressed {
    background-color: #F0B68E;
}

